<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="YardiDashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="filelocation" value="config.xml"/>
    <add key="clientconfiguration" value="clients.xml"/>
    <add key="entityname" value="Rent Recovery Solutions"/>
    <add key="licensefile" value="V100055004.lic"/>
  </appSettings>
  <applicationSettings>
    <YardiDashboard.Properties.Settings>
      <setting name="YardiDashboard_YardiWebRef_ItfCollections" serializeAs="String">
        <value>http://www.iyardiasp.com/8223thirddev/Webservices/itfcollections.asmx</value>
      </setting>
    </YardiDashboard.Properties.Settings>
  </applicationSettings>
</configuration>