<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YardiDashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- General settings-->
    <add key="filenotextractedcutoffdate" value="3/1/2015"/>
    <!-- Yardi settings-->
    <add key="filelocation" value="config.xml"/>
    <add key="clientconfiguration" value="clients.xml"/>
    <add key="entityname" value="Rent Recovery Solutions"/>
    <add key="licensefile" value="V100055004CS.lic"/>
    <!-- Realpage settings-->
    <add key="rpclientconfiguration" value="rpclients.xml"/>
    <add key="rpxusername" value="rrs_service"/>
    <add key="rpxpassword" value="a6E2LUMDzir25k3I7u8WO3A8qpEpur"/>
    <add key="rpxlicensekey" value="50919e55-71d7-4940-9c25-2a53955bb895"/>
    <add key="rpxsystemname" value="OneSite"/>
    <add key="rpxpmcid" value="3513765"/>
    <add key="rpxsiteid" value="3513770"/>
    <add key="rpxdecryptkey" value="12345678"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <applicationSettings>
    <YardiDashboard.Properties.Settings>
      <setting name="YardiDashboard_YardiWebRef_ItfCollections" serializeAs="String">
        <value>http://www.iyardiasp.com/8223thirddev/Webservices/itfcollections.asmx</value>
      </setting>
    </YardiDashboard.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRPXService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRPXService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://gateway.rpx.realpage.com/RPXGateway/partner/RentRecoverySolutions/RentRecoverySolutions.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRPXService"
        contract="RPXCollections.IRPXService" name="BasicHttpBinding_IRPXService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
